@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* overarching styles */
*{
    background-color: beige;
}

.navbar{
    background-color: beige;
    border-bottom: 3px solid #333;
}

.border-two{
    display: inline-block;
    border-bottom: 1px solid #333;
}
body{
    background-color: beige;
    font-family: "Poiret One", cursive;
}

/* home page(index) */
.intro-title{
    width: 300px;
    padding: 15px 15px;
    margin: 20px auto;
    border: 5x;
    text-align: center;
    background-color: azure;
}

.intro-paragraph{
    width: 600px;
    padding: 20px 20px 15px 15px;
    margin: 20px auto;
    border: 5px;
    text-align: center;
    font-size: 25px;
    background-color: azure;
}

.container{
    margin: 0px 5px;
}


/* blog */
.blog-post{
    width: 900px;
    height: 300px;
    font-size: 18px;
    padding: 10px 20px 10px 10px;
    margin: 60px auto;
    position: relative;
    text-align: left;
    background-color: azure;
}
.date{
    width: 50px;
    height: 30px;
    font-size: 14px;
    padding: 5px 5px;
    margin: 0px auto;
    position: relative;
    left: 390px;
    bottom: 7px;
    text-align: center;
    background-color: azure;
}

.user{
    width: 50px;
    height: 5px;
    font-size: 14px;
    margin: 0px auto;
    position: relative;
    right: 410px;
    text-align: center;
    background-color: azure;
    font-size: 18px;
    font-family: Poiret One;
}

.images{
    width:250px;
    position: relative;
    left: 600px;
    bottom: 100px;
}

.blog-info{
    height: 230px;
}
.blog-text{
    width: 550px;
    position: relative;
    left: 5px;
}


/* resource page and part of projects page */
.resources-text, .projects-text{
    width: 600px;
    border: 12px solid;
    border-color: azure;
    font-size: 18px;
    margin: 10px auto;
    position: relative;
    padding: 20px;
}
.resources-head, .projects-head{
    text-align: center;
    font-size: 25px;
}



/* fonts being changed */
.font-theme-one {
  font-family: "Google Sans Code", sans-serif;
}

.font-theme-two {
  font-family: "Poiret One", cursive;
}

a:hover {
    color: pink;
    text-decoration: underline;
  }


  .gamePic1{
    height: 300px;
    width: 400px;
  }